################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/SignService.Common.HashSignature/FileContentIndex
/bin/Debug/net472
/.vs/SignService.Common.HashSignature
/sourcecode.zip
